[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
autopep8 = "*"
watchdog = "*"
pylint = "*"

[packages]
requests = "*"
celery = {extras = ["elasticsearch", "librabbitmq"],version = "*"}
pymongo = "*"
mongoengine = "*"
dnspython = "*"
python-json-logger = "*"
structlog = "*"
redis = "*"
redis-py-cluster = "*"
flower = "*"
python-dateutil = "*"

[requires]
python_version = "3.7"
