:root {
  --bg-color: #fafafa;
  --pr-font-color: #262626;
  --sc-font-color: #3897f0;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}

button:focus {
  outline: none;
}
